body {
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
}

section {
  height: 100vh;
  display: grid;
}

h4, h5 {
  font-weight: 700;
}

h4 {
  color: hsl(179, 62%, 43%);
}

h5 {
  font-size: 18px;
}

p {
  margin: 0;
  color: hsl(204, 43%, 93%);
  font-weight: 400;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 14px;
  color: hsl(204, 43%, 93%);
}

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.box-1 h5 {
  color: hsl(71, 73%, 54%);
}

.btn {
  background-color: hsl(71, 73%, 54%);
  border: 0;
  width: 100%;
  font-size: 16px;
  padding: 12px 0;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #fff;
  color: hsl(71, 73%, 54%);
}

.container {
  display: grid;
  place-self: center;
  grid-template-areas:
    'b1'
    'b2'
    'b3';
  height: 720px;
  width: 340px;
  padding: 0;
  margin: 0;
  box-shadow: 0.2rem 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  overflow: hidden;
}

.box-1, .box-2, .box-3 {
  padding: 1.6rem 1.875rem;
}

.box-2, .box-3 {
  color: #fff;
}

.box-1 {
  grid-area: b1;
  height: 266px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-1 p {
  font-size: 14px;
  line-height: 1.8;
  color: hsl(218, 22%, 67%);
}

.box-2 {
  grid-area: b2;
  height: 227px;
  background-color: hsl(179, 62%, 43%);
  display: grid;
  grid-row-gap: 32px;
}

.box-2 p {
  font-size: 15px;
}

.dollar {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.dollar-data {
  font-size: 32px;
}

.dollar-info {
  font-weight: lighter;
  padding-left: 10px;
  color: hsl(204, 43%, 93%);
}

.box-3 {
  grid-area: b3;
  height: 227px;
  background-color: hsl(179, 47%, 52%);
}

@media (min-width: 768px) {
  .container {
    grid-template-areas:
      'b1 b1'
      'b2 b3';
    height: 474px;
    width: 634px;
  }

  .box-1 p {
    font-size: 16px;
  }

  .box-1, .box-2, .box-3 {
    padding: 2.5rem;
  }

  .box-1 {
    height: 216px;
  }

  .box-2, .box-3 {
    height: 258px;
    width: 317px;
  }
}
