body {
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
}

section {
  height: 100vh;
  display: grid;
}

h4, h5 {
  font-weight: 700;
}

h4 {
  color: hsl(179, 62%, 43%);
}

h5 {
  font-size: 1.125rem;
}

p {
  margin: 0;
  color: hsl(204, 43%, 93%);
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 14px;
  color: hsl(204, 43%, 93%);
}

footer {
  position: absolute;
  bottom: 1.25rem;
  width: 100%;
}

/* MAIN CONTAINER */
.container {
  display: grid;
  place-self: center;
  grid-template-areas:
    'b1'
    'b2'
    'b3';
  height: 45rem;
  width: 21.25rem;
  padding: 0;
  margin: 0;
  box-shadow: 0.2rem 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  overflow: hidden;
}

/* BOXES */
.box-1, .box-2, .box-3 {
  padding: 1.6rem 1.875rem;
}

/* BOX 1 */
.box-1 {
  grid-area: b1;
  height: 16.625rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-1 h5 {
  color: hsl(71, 73%, 54%);
}

.box-1 p {
  font-size: 0.875rem;
  line-height: 1.8;
  color: hsl(218, 22%, 67%);
}

/* BOX2 AND BOX3  */
.box-2, .box-3 {
  color: #fff;
  height: 14.1875rem;
}

/* BOX 2 */
.box-2 {
  grid-area: b2;
  background-color: hsl(179, 62%, 43%);
  display: grid;
  grid-row-gap: 2rem;
}

.dollar {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.dollar-data {
  font-size: 2rem;
}

.dollar-info {
  font-weight: lighter;
  padding-left: 0.625rem;
  color: hsl(204, 43%, 93%);
}

.box-2 p {
  font-size: 0.9375rem;
}

.btn {
  background-color: hsl(71, 73%, 54%);
  border: 0;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 0;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #fff;
  color: hsl(71, 73%, 54%);
}

/* BOX 3 */
.box-3 {
  grid-area: b3;
  background-color: hsl(179, 47%, 52%);
}

@media (min-width: 768px) {
  .container {
    grid-template-areas:
      'b1 b1'
      'b2 b3';
    height: 29.625rem;
    width: 39.625rem;
  }

  .box-1, .box-2, .box-3 {
    padding: 2.5rem;
  }

  .box-2, .box-3 {
    height: 16.125rem;
    width: 19.8125rem;
  }

  .box-1 {
    height: 13.5rem;
  }

  .box-1 p {
    font-size: 1rem;
  }
}
